@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

ion-content {
  --background: url('../../assets/ice-cream-bg.jpg') 0 0/100% 100% no-repeat;
}


.logo h1{
  color: white;
  font-size: 3rem;
  font-family: 'PT Sans', sans-serif;
}

ion-button {
  --background: #ffd151;
  color: #ffffff;
  margin-top: 90%;
  height: 40px;
  box-shadow: none;
  text-transform: none;
}