<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <div class="ion-padding-start ion-padding-bottom">
        <ion-label class="ion-text-center">
          <h1>SCOOP</h1>
        </ion-label>
  
        <ion-row class="ion-align-items-center">
          <ion-col size="2">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="Search"></ion-icon>
            </ion-button>
            
          </ion-col>
          <ion-col size="10">
           <p>Cart Total: $25</p>
          </ion-col>
        </ion-row>
  
      </div>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-card class="card">
      <ion-card-content>
        <ion-row>
          <ion-col size="8">
            <ion-card-title>Super Green</ion-card-title>
            <ion-card-subtitle>
              Intensidad de sabor
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-card-title>$20</ion-card-title>
          </ion-col>
        </ion-row>
        
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-content>

        <ion-row>
          <ion-col size="8">
            <ion-card-title>Lava Yunk</ion-card-title>
            <ion-card-subtitle>
              Montaña hecha helado
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-card-title>$20</ion-card-title>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-content>

        <ion-row>
          <ion-col size="8">
            <ion-card-title>Ore-O</ion-card-title>
            <ion-card-subtitle>
              Suave y delicioso 
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-card-title>$20</ion-card-title>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <ion-card-content>

        <ion-row>
          <ion-col size="8">
            <ion-card-title>Curry</ion-card-title>
            <ion-card-subtitle>
              Dulzura y cremosidad
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="4">
            <ion-card-title>$20</ion-card-title>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
